<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <svg viewBox="0 0 128 128">
      <i class="icon fab fa-css3" aria-hidden="true"></i>
    </svg>

    <p>Confident in my design skills using CSS and Tailwind!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <svg viewBox="0 0 128 128">
      <i class="icon fab fa-css3" aria-hidden="true"></i>
    </svg>
    <svg viewBox="0 0 128 128">
      <i class="icon fab fa-js" aria-hidden="true"></i>
    </svg>
    <p>Proficient in Javascript and React</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <svg viewBox="0 0 128 128">
      <i class="icon fab fa-npm" aria-hidden="true"></i>
    </svg>
    <svg viewBox="0 0 128 128">
      <i class="icon fab fa-docker" aria-hidden="true"></i>
    </svg>
    <p>Docker, NPM, and many other tools.</p>
  </div>
</div>
