<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>

    <i class="icon fa fa-css3" aria-hidden="true"></i>

    <p>Confident in my design skills using CSS and Tailwind</p>
  </div>
  <div class="tech">
    <h2>Code</h2>

    <i class="icon fa fa-code" aria-hidden="true"></i>

    <p>Proficient in Javascript, React/NextJS, Redux, and Express</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>

    <i class="icon fa fa-terminal" aria-hidden="true"></i>

    <p>Docker, NPM, Node.js, Heroku, and SQL</p>
  </div>
</div>
